#PubSub {
  width: 65rem;
  margin: auto;
  outline: 0.1rem solid lightblue;
}
#PubSub h2 {
  font-size: xx-large;
  text-align: center;
  background-color: lightblue;
  padding: 0.5rem;
  margin-bottom: 0;
}
#PubSub form {
  padding: 1.8rem 1.6rem;
  display: flex;
}
#PubSub form #message {
  outline: 0.1rem solid lightblue;
  font-style: italic;
  padding: 1rem;
}