#Connect-settings {
  width: 65rem;
  margin: auto;
  outline: 0.1rem solid lightblue;
}
#Connect-settings h2 {
  font-size: 3rem;
  text-align: center;
  background-color: lightblue;
  padding: 1rem;
}
#Connect-settings form {
  padding: 1.8rem 1.6rem;
}