#Connect-settings {
  width: 65rem;
  margin: auto;
  outline: 0.1rem solid lightblue;
}
#Connect-settings h2 {
  font-size: xx-large;
  text-align: center;
  background-color: lightblue;
  padding: 0.5rem;
}
#Connect-settings form {
  padding: 1.8rem 1.6rem;
  margin-bottom: 0;
}